In [2]:
import pandas as pd
from torch.utils.data import Dataset, DataLoader

In [3]:

def calculate_macd(df):
    # techinical indicator 
    short_term = 12
    long_term = 26
    signal_period = 9

    df['EMA12'] = df['Close/Last'].ewm(span=short_term,adjust=False).mean()
    df['EMA26'] = df['Close/Last'].ewm(span=long_term,adjust=False).mean()

    df['MACD Line'] = df['EMA12'] - df['EMA26']
    df['Signal Line'] = df['MACD Line'].ewm(span=signal_period,adjust=False).mean()
    df['MACD'] = df['MACD Line'] - df['Signal Line']
    df.drop(['EMA12','EMA26','MACD Line','Signal Line'],inplace=True,axis=1)
    return df

In [4]:
def calucate_atr(data):
    # techinical indicator 
    atr_period = 14
    data['H-L'] = data['High'] - data['Low']
    data['H-PC'] = (data['High'] - data['Close/Last'].shift(1)).abs()
    data['L-PC'] = (data['Low'] - data['Close/Last'].shift(1)).abs()

    data['TR'] = data[['H-L','H-PC','L-PC']].max(axis=1)

    data['ATR'] = data['TR'].rolling(atr_period).mean()
    data.drop(['H-L','H-PC','L-PC','TR'],inplace=True,axis=1)
    return data

In [5]:

def calculate_rsi(data):
    # techinical indicator 
    rsi_period = 14
    data['Price Change'] = data['Close/Last'].diff()
    data['Gain'] = data['Price Change'].apply(lambda x: x if x > 0 else 0)
    data['Loss'] = data['Price Change'].apply(lambda x: -x if x < 0 else 0)
    data['Average Gain'] = data['Gain'].rolling(window = rsi_period).mean()
    data['Average Loss'] = data['Loss'].rolling(window = rsi_period).mean()
    data['Relative Strength'] = data['Average Gain']/data['Average Loss']
    data['RSI'] = 100 - (100/(1+data['Relative Strength']))

    data.drop(['Price Change','Gain','Loss','Average Gain','Average Loss','Relative Strength'],inplace=True,axis=1)

    return data

In [26]:
def get_data(path):
    df = pd.read_csv(path)
    df.Date = df['Date'].apply(lambda x: pd.to_datetime(x,format="%m/%d/%Y"))
    return df
df = get_data("../data/HistoricalData_1698863282356.csv")

In [44]:
def calculate_whole(data_df, path, date_format, feature):
    df_add = pd.read_csv(path)
    print(df_add)
    df_add.Date = df_add['Date'].apply(lambda x: pd.to_datetime(x,format=date_format))
    merged_df = pd.merge_ordered(data_df, df_add, on='Date', how='left')
    return merged_df

In [45]:
def calculate_column(data_df, path, date_format, feature):
    df_add = pd.read_csv(path)
    print(df_add)
    df_add.Date = df_add['Date'].apply(lambda x: pd.to_datetime(x,format=date_format))
    column = "Adj Close"
    merged_df = pd.merge_ordered(data_df, df_add[['Date', column]], on='Date', how='left')
    merged_df.rename(columns={column: feature}, inplace=True)
    return merged_df

In [79]:
def calculate_monthly(data_df, path, date_format, feature):
    df_add = pd.read_csv(path)
    print(df_add)
    df_add.Date = df_add['DATE'].apply(lambda x: pd.to_datetime(x,format=date_format))
    df_add['Date'] = pd.to_datetime(df_add['DATE']).dt.to_period('M').dt.to_timestamp()
    df_add['YearMonth'] = df_add['Date'].dt.to_period('M')
    data_df['YearMonth'] = data_df['Date'].dt.to_period('M')
    print(data_df)
    merged_df = pd.merge_ordered(data_df, df_add, left_on='YearMonth', right_on='YearMonth', how='left')
    merged_df.drop(['YearMonth', 'DATE', 'Date_y'], axis=1, inplace=True)
    merged_df.rename(columns={'Date_x': 'Date'}, inplace=True)
    return merged_df

In [82]:
if __name__ == "__main__":
    df = get_data("../data/HistoricalData_1698863282356.csv")
    df = calculate_macd(df)    # Moving Average Convergence Divergence
    df = calucate_atr(df)      # market volatility
    df = calculate_rsi(df)
    df = calculate_whole(df, "../data/EFFR.csv", date_format = "%d-%m-%Y", feature = "EFFR")
    df = calculate_column(df, "../data/VIX.csv", date_format = "%d-%m-%Y", feature = "VIX" )
    df = calculate_column(df, "../data/DX-Y.NYB.csv", date_format = "%Y-%m-%d", feature = "USDX" )
    df = calculate_monthly(df, "../data/UNRATE.csv", date_format = "%Y-%m-%d", feature = "UNRATE" )
    df = calculate_monthly(df, "../data/UMCSENT.csv", date_format = "%Y-%m-%d", feature = "UMCSENT" )
    df.to_csv("../data/final_dataset.csv",index=False)

            Date  EFFR
0     02-01-2008  4.11
1     03-01-2008  4.25
2     04-01-2008  4.18
3     07-01-2008  4.27
4     08-01-2008  4.27
...          ...   ...
4125  25-10-2023  5.33
4126  26-10-2023  5.33
4127  27-10-2023  5.33
4128  30-10-2023  5.33
4129  31-10-2023  5.33

[4130 rows x 2 columns]
            Date       Open       High        Low      Close  Adj Close  \
0     02-01-1990  17.240000  17.240000  17.240000  17.240000  17.240000
1     03-01-1990  18.190001  18.190001  18.190001  18.190001  18.190001
2     04-01-1990  19.219999  19.219999  19.219999  19.219999  19.219999
3     05-01-1990  20.110001  20.110001  20.110001  20.110001  20.110001
4     08-01-1990  20.260000  20.260000  20.260000  20.260000  20.260000
...          ...        ...        ...        ...        ...        ...
8821  25-10-2023  19.389999  21.240000  18.860001  20.190001  20.190001
8822  26-10-2023  21.780001  21.959999  20.219999  20.680000  20.680000
8823  27-10-2023  20.389999  22.070000  19.719999  21.270000  21.270000
8824  30-10-2023  21.129999  21.160000  19.549999  19.750000  19.750000
8825  31-10-2023  19.860001  19.860001  17.969999  18.139999  18.139999

      Volume
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
...      ...
8821     0.0
8822     0.0
8823     0.0
8824     0.0
8825     0.0

[8826 rows x 7 columns]
             Date        Open        High         Low       Close   Adj Close  \
0      1971-01-04  120.529999  120.529999  120.529999  120.529999  120.529999
1      1971-01-05  120.519997  120.519997  120.519997  120.519997  120.519997
2      1971-01-06  120.489998  120.489998  120.489998  120.489998  120.489998
3      1971-01-07  120.550003  120.550003  120.550003  120.550003  120.550003
4      1971-01-08  120.529999  120.529999  120.529999  120.529999  120.529999
...           ...         ...         ...         ...         ...         ...
16382  2023-10-26  106.580002  106.889999  106.529999  106.599998  106.599998
16383  2023-10-27  106.589996  106.800003  106.320000  106.559998  106.559998
16384  2023-10-29         NaN         NaN         NaN         NaN         NaN
16385  2023-10-30  106.580002  106.699997  106.059998  106.120003  106.120003
16386  2023-10-31  106.160004  106.860001  105.910004  106.660004  106.660004

       Volume
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
...       ...
16382     0.0
16383     0.0
16384     NaN
16385     0.0
16386     0.0

[16387 rows x 7 columns]
           DATE  UNRATE
0    1948-01-01     3.4
1    1948-02-01     3.8
2    1948-03-01     4.0
3    1948-04-01     3.9
4    1948-05-01     3.5
..          ...     ...
904  2023-05-01     3.7
905  2023-06-01     3.6
906  2023-07-01     3.5
907  2023-08-01     3.8
908  2023-09-01     3.8

[909 rows x 2 columns]
           Date  Close/Last     Open     High      Low      MACD        ATR  \
0    2013-11-01     1761.64  1758.70  1765.67  1752.70 -1.490490  17.467857
1    2013-11-04     1767.93  1763.40  1768.78  1761.56 -1.699969  17.897143
2    2013-11-05     1762.97  1765.67  1767.03  1755.76 -2.395871  18.105714
3    2013-11-06     1770.49  1765.00  1773.74  1764.40 -2.670361  17.590714
4    2013-11-07     1747.15  1770.74  1774.54  1746.20 -3.528956  16.237857
...         ...         ...      ...      ...      ...       ...        ...
2531 2023-10-25     4186.77  4232.42  4232.42  4181.42 -3.940413        NaN
2532 2023-10-26     4137.23  4175.99  4183.60  4127.90 -6.865927        NaN
2533 2023-10-27     4117.37  4152.93  4156.70  4103.78 -5.862591        NaN
2534 2023-10-30     4166.82  4139.39  4177.47  4132.94 -1.721801        NaN
2535 2023-10-31     4193.80  4171.33  4195.55  4153.12  0.000000        NaN

            RSI  EFFR        VIX        USDX YearMonth
0     37.122638  0.08  13.280000   80.730003   2013-11
1     36.404577  0.08  12.930000   80.550003   2013-11
2     35.120886  0.08  13.270000   80.709999   2013-11
3     37.149458  0.08  12.670000   80.480003   2013-11
4     21.835740  0.08  13.910000   80.820000   2013-11
...         ...   ...        ...         ...       ...
2531        NaN  5.33  20.190001  106.529999   2023-10
2532        NaN  5.33  20.680000  106.599998   2023-10
2533        NaN  5.33  21.270000  106.559998   2023-10
2534        NaN  5.33  19.750000  106.120003   2023-10
2535        NaN  5.33  18.139999  106.660004   2023-10

[2536 rows x 12 columns]
           DATE UMCSENT
0    1952-11-01    86.2
1    1952-12-01       .
2    1953-01-01       .
3    1953-02-01    90.7
4    1953-03-01       .
..          ...     ...
846  2023-05-01      59
847  2023-06-01    64.2
848  2023-07-01    71.5
849  2023-08-01    69.4
850  2023-09-01    67.9

[851 rows x 2 columns]
           Date  Close/Last     Open     High      Low      MACD        ATR  \
0    2013-11-01     1761.64  1758.70  1765.67  1752.70 -1.490490  17.467857
1    2013-11-04     1767.93  1763.40  1768.78  1761.56 -1.699969  17.897143
2    2013-11-05     1762.97  1765.67  1767.03  1755.76 -2.395871  18.105714
3    2013-11-06     1770.49  1765.00  1773.74  1764.40 -2.670361  17.590714
4    2013-11-07     1747.15  1770.74  1774.54  1746.20 -3.528956  16.237857
...         ...         ...      ...      ...      ...       ...        ...
2531 2023-10-25     4186.77  4232.42  4232.42  4181.42 -3.940413        NaN
2532 2023-10-26     4137.23  4175.99  4183.60  4127.90 -6.865927        NaN
2533 2023-10-27     4117.37  4152.93  4156.70  4103.78 -5.862591        NaN
2534 2023-10-30     4166.82  4139.39  4177.47  4132.94 -1.721801        NaN
2535 2023-10-31     4193.80  4171.33  4195.55  4153.12  0.000000        NaN

            RSI  EFFR        VIX        USDX  UNRATE YearMonth
0     37.122638  0.08  13.280000   80.730003     6.9   2013-11
1     36.404577  0.08  12.930000   80.550003     6.9   2013-11
2     35.120886  0.08  13.270000   80.709999     6.9   2013-11
3     37.149458  0.08  12.670000   80.480003     6.9   2013-11
4     21.835740  0.08  13.910000   80.820000     6.9   2013-11
...         ...   ...        ...         ...     ...       ...
2531        NaN  5.33  20.190001  106.529999     NaN   2023-10
2532        NaN  5.33  20.680000  106.599998     NaN   2023-10
2533        NaN  5.33  21.270000  106.559998     NaN   2023-10
2534        NaN  5.33  19.750000  106.120003     NaN   2023-10
2535        NaN  5.33  18.139999  106.660004     NaN   2023-10

[2536 rows x 13 columns]

/tmp/ipykernel_18396/3240749829.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df_add.Date = df_add['DATE'].apply(lambda x: pd.to_datetime(x,format=date_format))
/tmp/ipykernel_18396/3240749829.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df_add.Date = df_add['DATE'].apply(lambda x: pd.to_datetime(x,format=date_format))